@{
    ViewData["Title"] = "Product List (ViewBag)";
    var products = ViewBag.Products as List<AspNetCoreMVC.Models.Product>;
}
<h2>@ViewData["Title"]</h2>
<table border="1">
    <tr><th>Code</th><th>Name</th><th>Stock</th><th>Details</th><th>Price</th></tr>
    @foreach (var product in products)
    {
            <tr>
                <td>@product.PCode</td>
                <td>@product.Name</td>
                <td>@product.QtyInStock</td>
                <td>@product.Details</td>
                <td>$@product.Price</td>
            </tr>
    }
</table>
